[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
pyaml = "*"
pytest = "*"
google-cloud-language = "*"
pandas = "*"
flask = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.7"
